services:
  source_db:
    image: postgres:17-alpine
    container_name: source_db
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
    volumes:
      - ./init/source_db/:/docker-entrypoint-initdb.d/  # run init scripts
      - ./source_db_data:/var/lib/postgresql  # persist source_db data
      - ./data/OnlineRetail.csv:/init_data/OnlineRetail.csv  # init data
    ports:
      - 5432:5432
  
  obj_storage:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    container_name: obj_storage
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - ./obj_storage_data:/mnt/data
      - ./init/obj_storage/minio:/etc/config.env
    command: server --console-address ":9001" /mnt/data